@import "tailwindcss";

@theme {
  /* Dark Shades */
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #AAAAAA;

  /* Light Shades */
  --color-light-100: #FFFFFF;
  --color-light-200: #F5F5F5;
  --color-light-300: #E5E5E5;
  --color-light-400: #CCCCCC;

  /* Brand Colors */
  --color-green: #007D48;
  --color-red: #D33918;
  --color-orange: #D37918;
}